
{% load static %}

<div class="popular-recipe mb-8 mx-auto w-[90vw]">
  <h1 class="text-5xl mb-6">
    Popular <span class="text-orange-400">recipes</span> Today
  </h1>

  <div class="flex space-x-4 bg-orange-100 p-4 rounded-3xl justify-center">
    {% for recipe in popular_recipes %}
  {% include 'includes/about/popular_recipe.html' with card_img=recipe.get_first_image_url card_text2=recipe.title card_icon1='<i class="bi bi-hand-thumbs-up"></i>' card_text1=recipe.liked_by.count detail_link=recipe.get_absolute_url %}
    
  {% endfor %}

  </div>
</div>
