<div id="recipe-ingredients-card" class="bg-white p-6 md:p-8 rounded-xl shadow-lg border border-gray-100 ">
    <h2 class="text-3xl font-bold text-gray-800 mb-6 border-b pb-2">Ingredients</h2>
    
    {% if ingredients %}
        <!-- Two-column grid layout for desktop/large screens -->
        <div class="grid grid-cols-1 md:grid-cols-2 gap-x-12 gap-y-3">
            {% for item in ingredients %}
                <!-- Ingredient Item -->
                <div class="flex items-center  text-sm text-gray-700">
                    <span class="mr-2 font-medium">
                        <!-- Display quantity and unit. Use .normalize_decimal to clean up trailing zeros if needed. -->
                        {{ item.quantity|floatformat:"-2" }} 
                        {{ item.get_unit_display }}
                    </span>
                    <span class="font-normal capitalize">
                        {{ item.name }}
                        {% if item.optional %}
                            <span class="text-sm text-gray-400 italic">(optional)</span>
                        {% endif %}
                    </span>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p class="text-gray-500 italic">No ingredients have been added for this recipe yet.</p>
    {% endif %}
</div>
