{% load static %}

<div class="home">

    <div class="mx-auto overflow-hidden mt-4 mb-8
 rounded-md bg-gray-300 flex  relative  h-[40vh] w-[90vw]">
                <img src="{% static 'HomePage/images/about_hero.jpg' %}" alt="Assortment of fresh vegetables and spices on a wooden table"
            class="absolute  w-full h-full object-cover" />

        <div class=" absolute top-1/4 left-8 2xl:top-12 2xl:left-12 w-[30vw]">

            <div class="heading text-5xl font-inter font-semibold space-y-1 mb-4">
                <h1>About Our</h1>
                <h1><span class="text-orange-400">Culinary</span> Stories</h1>
            </div>
            
        </div>
    </div>
</div>
